# Created by .ignore support plugin (hsz.mobi)
/.idea
/CONFIG/config.py
/README.md.backup
/crawls/ProxyPool/temp.png
/crawls/ProxyPool/crawl_log
/crawls/ProxyPool/verify_log
/crawls/README.md.backup
/docsnews.163.com/
/crawls/news_spider/spiders/proxyes.dat
/crawls/news_spider/notebook.py

/sohu11_13.csv
/Data/
/docs/test.py
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool-1.log
/crawls/news_spider/spiders/tmp.log
/crawls/news_spider/spiders/tmp-1.log
/crawls/news_spider/spiders/tasks-1.log
/crawls/news_spider/spiders/info_engine-4.log
/crawls/news_spider/spiders/tasks-4.log
/crawls/news_spider/spiders/tasks.pid
/crawls/news_spider/spiders/tmp-3.log
/crawls/news_spider/spiders/info_engine-3.log
/crawls/news_spider/spiders/tasks.log
/crawls/news_spider/spiders/tmp-4.log
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool-3.log
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool-4.log
/crawls/news_spider/spiders/tasks-3.log
/crawls/news_spider/spiders/info_engine-2.log
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool.log
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool-2.log
/crawls/news_spider/spiders/info_engine-1.log
/crawls/news_spider/spiders/tmpfile
/crawls/news_spider/spiders/crawls.ProxyPool.proxypool.pid
/crawls/news_spider/spiders/info_engine.log
/crawls/news_spider/spiders/tmp-2.log
/crawls/news_spider/spiders/tasks-2.log
/crawls/news_spider/spiders/info_engine.pid
/crawls/news_spider/spiders/tmp.pid
